body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font: 24px;
}

a {
  color: #0007FF;
}

.left_col_div {
  padding: 10px;
  width: 50%;
  float:left;
  overflow: hidden;
  border: #0007FF;
  border-radius: 25px;
  margin-right: 10px;
}

.right_col_div {
  padding: 10px;
  overflow: hidden;
  border: #0007FF;
  border-radius: 25px;
}

body {
  background: #000; 
}

.main_div {
  border: #0007FF;
  border-radius: 25px;
  padding: 10px;
  overflow: hidden;
}

.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.link_list {
  color: darkred !important;
}