extends layout

block content
  div(class="main_div bg-secondary text-white")
    h1 Jordan Henstrom
    br
    br
    block left_column 
      div(class="left_col_div bg-primary text-white")
        h6 Working with technology has given me a unique outlook on what we are capable of. My mission is to contribute in anyway I can to the ethical expansion of technology for the betterment of society.
        div(class="link_list")
          a(href='/about' class="text-dark button") About
          br
          a(href='/projects' class="text-dark button") Projects
          br
          a(href='/resume' class="text-dark button") Resume
    block right_column
